@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Farro:wght@300;400;500;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@300;400;700;900&family=Lobster+Two:wght@400;700&family=Poppins:wght@300;400;500;600;700;800&family=Satisfy&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Farro', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

html {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1.05em;
  font-weight: 500;
  height: 100%;
  min-width: 100%;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}

.calc-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 60%;
  gap: 5px;
  flex-wrap: wrap;
  border-radius: 5px;
  padding: 1em;
  box-shadow: 0 2px 2px 3px;
  margin-right: 2em;
  background-color: rgb(53, 54, 51);
}

.calc-output {
  line-height: 1.6em;
  text-align: end;
  background-color: rgb(0, 0, 0);
  max-height: 3em;
  font-size: 2.5em;
  padding: 0.2em;
  color: rgb(228, 231, 230);
  overflow-x: auto;
  max-width: 100%;
  flex: 1;
  box-shadow: 2px 2px 2px rgba(24, 24, 24, 0.425);
  border-radius: 5px;
}

.btns-container {
  display: grid;
  flex: 4;
  grid-template-areas: "auto auto auto auto";
  gap: 1px;
}

.btn {
  height: 100%;
  border: none;
  font-weight: bold;
  font-size: 1em;
  box-shadow: 2px 2px 2px rgba(24, 24, 24, 0.425);
  border-radius: 5px;
}

.gc {
  background: rgb(187, 187, 187);
  transition: 1s;
}

.gc:hover {
  background: rgb(105, 96, 96);
}

.orange {
  background-color: rgb(207, 214, 104);
  color: black;
}

.orange:hover {
  background: rgb(134, 94, 12);
}

.btn-zero {
  grid-column: 1 / span 2;
}

.homePage {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  color: rgb(23, 26, 25);
  height: 100vh;
  width: 88%;
}

.home-title {
  font-weight: bolder;
  padding: 1em;
  font-size: 2em;
}

.paragraphs {
  font-size: 1.2em;
  padding-left: 2rem;
}

.quotePage {
  display: flex;
  flex-direction: column;
  margin-top: 10em;
  color: rgb(65, 83, 77);
  height: 100vh;
  width: 88%;
}

.navBar {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 6%;
  align-items: center;
  width: 85%;
}

.Logo {
  font-family: 'Farro', sans-serif;
  color: black;
  font-size: 3em;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.link {
  text-decoration: none;
  color: black;
  transition: 1s;
}

.link:hover {
  color: rgb(145, 44, 7);
}

.calculatorPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.05em;
  font-weight: 500;
  height: 100%;
  min-width: 90%;
  justify-content: space-between;
  margin-top: 8em;
}

.lets-do {
  color: rgb(27, 26, 26);
  padding-left: 4rem;
}
