@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Farro:wght@300;400;500;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@300;400;700;900&family=Lobster+Two:wght@400;700&family=Poppins:wght@300;400;500;600;700;800&family=Satisfy&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Farro', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

html {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1.05em;
  font-weight: 500;
  height: 100%;
  min-width: 100%;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}

.main-container {
  flex: 1;
  display: flex;
  height: 100%;
  min-width: 100%;
  justify-content: center;
  align-items: center;
}

.calc-container {
  display: flex;
  flex-direction: column;
  background: lightgrey;
  width: 30%;
  height: auto;
  gap: 1px;
  flex-wrap: wrap;
}

.calc-output {
  text-align: end;
  background: grey;
  font-size: 2.5em;
  padding: 0.2em;
  color: white;
  overflow-x: auto;
  max-width: 100%;
}

.btns-container {
  display: grid;
  grid-template-areas: "auto auto auto auto";
  gap: 1px;
}

.btn {
  height: 4rem;
  border: none;
  font-weight: bold;
}

.gc {
  background: rgb(187, 187, 187);
  transition: 1s;
}

.gc:hover {
  background: rgb(105, 96, 96);
}

.orange {
  background: orange;
}

.orange:hover {
  background: rgb(134, 94, 12);
}

.btn-zero {
  grid-column: 1 / span 2;
}
