/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calcc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */

* {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

html {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1.05em;
  font-weight: 500;
  height: 100%;
  min-width: 100%;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}

.main-container {
  flex: 1;
  display: flex;
  height: 100%;
  min-width: 100%;
  justify-content: center;
  align-items: center;
}

.calc-container {
  display: flex;
  background-color: lightgrey;
  flex-direction: column;
  width: 30%;
  height: auto;
  gap: 1px;
}

.calc-output {
  text-align: end;
  background-color: grey;
  font-size: 2.5em;
  padding: 0.2em;
  color: white;
}

.calc-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-content: center;
  gap: 1px;
}

.calc-gl { /* gl - grid last */
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  place-content: center;
  gap: 1px;
}

.btn-gc {
  height: 4rem;
  background-color: rgb(187, 187, 187);
  border: none;
  font-weight: bold;
  font-size: 1rem;
}

.btn-gc:hover {
  background-color: rgb(73, 68, 68);
}

.btn-orange {
  height: 4rem;
  background-color: rgb(173, 94, 20);
  border: none;
  font-weight: bold;
  font-size: 1rem;
}

.btn-orange:hover {
  background-color: rgb(207, 163, 19);
}
